<nav class="navbar navbar-dark bg-dark">
  <a style="color: rgb(41, 128, 185); font-family: Georgia, 'Times New Roman', Times, serif;" class="navbar-brand" routerLink="/">Music Box Converter</a>
</nav>

<div class="container" style="text-align: center; margin-top: 40px; background: rgb(174, 182, 191); border-radius: 20px; padding: 10px;">
  <h3 style="color: rgb(46, 64, 83); margin-bottom: 2%;">Selecciona una canción para Convertir</h3>

  <form #form="ngForm" (ngSubmit)="onUpload()" ngNativeValidate>
    <div class="custom-file">
      <input type="file" #song class="custom-file-input" id="song" [(ngModel)]="cancion" name="song" (change)="onFileSelected($event)" #song accept="audio/*" required>
      <label class="custom-file-label" for="song">Elije una cancion...</label>
      <div class="invalid-feedback">Archivo invalido</div>
    </div>

    <div class="form-group" style="margin-top: 10px;">
      <label for="formato">Selecciona una Formato</label>
      <select class="custom-select" [(ngModel)]="formato" name="formato" id="formato" required>
        <option value="" disabled>Selecciona un Formato</option>
        <option value=".mp3">.mp3</option>
        <option value=".ogg">.ogg</option>
        <option value=".wav">.wav</option>
        <option value=".wma">.wma</option>
        <option value=".flac">.flac</option>
        <option value=".aac">.aac</option>
      </select>
      <div class="invalid-feedback">Formato invalido</div> 
    </div>

    <button class="btn btn-primary" type="button" disabled *ngIf="proceso">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      En proceso...
    </button>
    <div  id="subir">
      <button type="submit" *ngIf="subir" class="btn btn-primary">Convertir Canción <i class="fas fa-upload"></i></button>
    </div>
   </form>

  <div id="lista" class="tabla" style="margin-top: 50px;">
    <h3 style="color: rgb(46, 64, 83); margin-bottom: 2%;">Canciones para descargar</h3>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre Cancion</th>
          <th scope="col">Formato</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cancion of canciones" style="background-color: rgb(41, 128, 185); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
          <th scope="row">{{cancion.nombre}}</th>
          <th>{{cancion.formato}}</th>
          <th><span *ngIf="cancion.proceso == 'En Proceso..'" class="badge badge-danger">Error..</span>
              <span *ngIf="cancion.proceso != 'En Proceso..'" class="badge badge-success">Terminado..</span></th>
            <td>
              <a class="btn btn-primary" href="http://127.0.0.1:8100/api/descarga/{{cancion.hash}}{{cancion.formato}}" *ngIf="cancion.proceso != 'En Proceso..'" title="Descargar Cancion"><i class="fas fa-download"></i></a>
              <button class="btn btn-danger" *ngIf="cancion.proceso == 'En Proceso..'" disabled title="Error.."><i class="fas fa-times"></i></button>
            </td>
       </tr>
      </tbody>
    </table>
  </div>

</div>
  
